/*



a:hover {
	color: #409aa9;
	text-decoration: none;
}


*/


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-color: #eeeeee;
}

h1, h2, h3 {
	font-family: 'Wire One', sans-serif;
}

a {
	color: #25333A;
}
